@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --hue-3-transparent: rgba(100, 150, 255, 0.5); 
  }

  
html {
  cursor: none;
}

/* Chrome, Edge, Safari */
body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  display: none;
}

